{% load wagtailcore_tags wagtailimages_tags %}

<section
  class="elementor-section elementor-top-section elementor-element elementor-element-761642c4 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-invisible"
  data-id="761642c4"
  data-element_type="section"
  data-settings='{"animation":"fadeIn"}'
>
  <div class="elementor-container elementor-column-gap-default">
    <div
      class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-6bf38eef"
      data-id="6bf38eef"
      data-element_type="column"
      data-settings='{"background_background":"classic"}'
    >
      <div class="elementor-widget-wrap elementor-element-populated">
        <div
          class="elementor-element elementor-element-78a36cf elementor-widget elementor-widget-heading"
          data-id="78a36cf"
          data-element_type="widget"
          data-widget_type="heading.default"
        >
          <div class="elementor-widget-container">
            <h2 class="elementor-heading-title elementor-size-default">
              {{page.location_section_title}}
            </h2>
          </div>
        </div>
        <div
          class="elementor-element elementor-element-4f04aa10 elementor-widget-divider--view-line elementor-widget elementor-widget-divider"
          data-id="4f04aa10"
          data-element_type="widget"
          data-widget_type="divider.default"
        >
          <div class="elementor-widget-container">
            <div class="elementor-divider">
              <span class="elementor-divider-separator"> </span>
            </div>
          </div>
        </div>
        <div
          class="elementor-element elementor-element-786977cf elementor-widget elementor-widget-text-editor"
          data-id="786977cf"
          data-element_type="widget"
          data-widget_type="text-editor.default"
        >
          <div class="elementor-widget-container">
            <p>
              {{page.location_section_subheading}}
            </p>
          </div>
        </div>
        <section
          class="elementor-section elementor-inner-section elementor-element elementor-element-7280df82 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
          data-id="7280df82"
          data-element_type="section"
        >
          <div class="elementor-container elementor-column-gap-wide">
            {% for location in page.locations.all %}
            {% if forloop.first %}
            <div
              class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-2b5d501a"
              data-id="2b5d501a"
              data-element_type="column"
            >
              <div class="elementor-widget-wrap elementor-element-populated">
                <div
                  class="elementor-element elementor-element-44dad91d elementor-widget elementor-widget-image"
                  data-id="44dad91d"
                  data-element_type="widget"
                  data-widget_type="image.default"
                >
                  <div class="elementor-widget-container">
                    <img
                      decoding="async"
                      src="{% image location.image fill-1024x500-c100 as placeholder %}{{placeholder.url}}"
                      title="Benissa"
                      alt="Benissa"
                      loading="lazy"
                    />
                  </div>
                </div>
                <div
                  class="elementor-element elementor-element-6c62a61b elementor-widget elementor-widget-heading"
                  data-id="6c62a61b"
                  data-element_type="widget"
                  data-widget_type="heading.default"
                >
                  <div class="elementor-widget-container">
                    <h2 class="elementor-heading-title elementor-size-default">
                      {{location.name|title}}
                    </h2>
                  </div>
                </div>
                <div
                  class="elementor-element elementor-element-1d6f5e3c elementor-widget elementor-widget-text-editor"
                  data-id="1d6f5e3c"
                  data-element_type="widget"
                  data-widget_type="text-editor.default"
                >
                  <div class="elementor-widget-container">
                    <p>
                    {{location.text}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
            {% else %}
            <div
              class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-1b69e88f"
              data-id="1b69e88f"
              data-element_type="column"
            >
              <div class="elementor-widget-wrap elementor-element-populated">
                <div
                  class="elementor-element elementor-element-59f7af2d elementor-widget elementor-widget-image"
                  data-id="59f7af2d"
                  data-element_type="widget"
                  data-widget_type="image.default"
                >
                  <div class="elementor-widget-container">
                    <img
                      decoding="async"
                      src="{% image location.image fill-1024x500-c100 as placeholder %}{{placeholder.url}}"
                      title="Cumbredel sol"
                      alt="Cumbredel sol"
                      loading="lazy"
                    />
                  </div>
                </div>
                <div
                  class="elementor-element elementor-element-5cfac3db elementor-widget elementor-widget-heading"
                  data-id="5cfac3db"
                  data-element_type="widget"
                  data-widget_type="heading.default"
                >
                  <div class="elementor-widget-container">
                    <h2 class="elementor-heading-title elementor-size-default">
                      {{location.name|title}}
                    </h2>
                  </div>
                </div>
                <div
                  class="elementor-element elementor-element-35f226d8 elementor-widget elementor-widget-text-editor"
                  data-id="35f226d8"
                  data-element_type="widget"
                  data-widget_type="text-editor.default"
                >
                  <div class="elementor-widget-container">
                    <p>
                      {{location.text}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
            {% endif %}
            {% endfor %}
          </div>
        </section>
      </div>
    </div>
  </div>
</section>
