<section
  class="elementor-section elementor-top-section elementor-element elementor-element-761642c4 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-invisible"
  data-id="761642c4"
  data-element_type="section"
  data-settings='{"animation":"fadeIn"}'
>
  <div class="elementor-container elementor-column-gap-default">
    <div
      class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-6bf38eef"
      data-id="6bf38eef"
      data-element_type="column"
      data-settings='{"background_background":"classic"}'
    >
      <div class="elementor-widget-wrap elementor-element-populated">
        <div
          class="elementor-element elementor-element-78a36cf elementor-widget elementor-widget-heading"
          data-id="78a36cf"
          data-element_type="widget"
          data-widget_type="heading.default"
        >
          <div class="elementor-widget-container">
            <h2 class="elementor-heading-title elementor-size-default">
              The Location
            </h2>
          </div>
        </div>
        <div
          class="elementor-element elementor-element-4f04aa10 elementor-widget-divider--view-line elementor-widget elementor-widget-divider"
          data-id="4f04aa10"
          data-element_type="widget"
          data-widget_type="divider.default"
        >
          <div class="elementor-widget-container">
            <div class="elementor-divider">
              <span class="elementor-divider-separator"> </span>
            </div>
          </div>
        </div>
        <div
          class="elementor-element elementor-element-786977cf elementor-widget elementor-widget-text-editor"
          data-id="786977cf"
          data-element_type="widget"
          data-widget_type="text-editor.default"
        >
          <div class="elementor-widget-container">
            <p>
              Benissa is one of the oldest towns in the Costa Blanca. Situated
              275m above sea level in the Province of Alicante. It is a stone´s
              throw away from the N332 (national road) and the motorway that
              connects Alicante and Valencia.
            </p>
          </div>
        </div>
        <section
          class="elementor-section elementor-inner-section elementor-element elementor-element-7280df82 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
          data-id="7280df82"
          data-element_type="section"
        >
          <div class="elementor-container elementor-column-gap-wide">
            <div
              class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-2b5d501a"
              data-id="2b5d501a"
              data-element_type="column"
            >
              <div class="elementor-widget-wrap elementor-element-populated">
                <div
                  class="elementor-element elementor-element-44dad91d elementor-widget elementor-widget-image"
                  data-id="44dad91d"
                  data-element_type="widget"
                  data-widget_type="image.default"
                >
                  <div class="elementor-widget-container">
                    <img
                      decoding="async"
                      src="https://www.oodlesretreat.com/wp-content/uploads/elementor/thumbs/Benissa-q0lmi4gbcuifozjee9t36w7osimxluf3gzadr0qmd4.jpg"
                      title="Benissa"
                      alt="Benissa"
                      loading="lazy"
                    />
                  </div>
                </div>
                <div
                  class="elementor-element elementor-element-6c62a61b elementor-widget elementor-widget-heading"
                  data-id="6c62a61b"
                  data-element_type="widget"
                  data-widget_type="heading.default"
                >
                  <div class="elementor-widget-container">
                    <h2 class="elementor-heading-title elementor-size-default">
                      Benisssa Town
                    </h2>
                  </div>
                </div>
                <div
                  class="elementor-element elementor-element-1d6f5e3c elementor-widget elementor-widget-text-editor"
                  data-id="1d6f5e3c"
                  data-element_type="widget"
                  data-widget_type="text-editor.default"
                >
                  <div class="elementor-widget-container">
                    <p>
                      Benissa is an ancient town located on the Costa Blanca,
                      consisting of two parts: a medieval town center and a
                      coastal area. The town has 4 km of coastline featuring a
                      variety of beaches, coves, and cliffs. The town center of
                      Benissa is charming, with the striking Purissima Xiqueta
                      Cathedral standing out in the large town square,
                      surrounded by various bars and restaurants, making it a
                      perfect place for visitors to enjoy.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-1b69e88f"
              data-id="1b69e88f"
              data-element_type="column"
            >
              <div class="elementor-widget-wrap elementor-element-populated">
                <div
                  class="elementor-element elementor-element-59f7af2d elementor-widget elementor-widget-image"
                  data-id="59f7af2d"
                  data-element_type="widget"
                  data-widget_type="image.default"
                >
                  <div class="elementor-widget-container">
                    <img
                      decoding="async"
                      src="https://www.oodlesretreat.com/wp-content/uploads/elementor/thumbs/Cumbredel-sol-pddz6uas5251bcf5jvhcrzoqso8yquc8w7wkoikj3s.jpg"
                      title="Cumbredel sol"
                      alt="Cumbredel sol"
                      loading="lazy"
                    />
                  </div>
                </div>
                <div
                  class="elementor-element elementor-element-5cfac3db elementor-widget elementor-widget-heading"
                  data-id="5cfac3db"
                  data-element_type="widget"
                  data-widget_type="heading.default"
                >
                  <div class="elementor-widget-container">
                    <h2 class="elementor-heading-title elementor-size-default">
                      Benissa Costa
                    </h2>
                  </div>
                </div>
                <div
                  class="elementor-element elementor-element-35f226d8 elementor-widget elementor-widget-text-editor"
                  data-id="35f226d8"
                  data-element_type="widget"
                  data-widget_type="text-editor.default"
                >
                  <div class="elementor-widget-container">
                    <p>
                      Benissa&#8217;s coastline stretches 4km and is situated
                      between the towns of Moraira and Calpe. The coastline
                      boasts a variety of beaches, coves, and cliffs. La Fustera
                      is considered the best beach in Benissa, with a small
                      sandy shoreline. Another favorite is Bassetes beach, which
                      is home to Benissa&#8217;s Club Nautico and several
                      excellent restaurants. A great location for water sports,
                      stand-up paddleboarding, and scuba diving.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>
