<section
  class="elementor-section elementor-top-section elementor-element elementor-element-3a224702 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
  data-id="3a224702"
  data-element_type="section"
>
  <div class="elementor-container elementor-column-gap-default">
    <div
      class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-230841b2"
      data-id="230841b2"
      data-element_type="column"
    >
      <div class="elementor-widget-wrap elementor-element-populated">
        <div
          class="elementor-element elementor-element-a332910 elementor-widget elementor-widget-spacer"
          data-id="a332910"
          data-element_type="widget"
          data-widget_type="spacer.default"
        >
          <div class="elementor-widget-container">
            <div class="elementor-spacer">
              <div class="elementor-spacer-inner"></div>
            </div>
          </div>
        </div>
        <div
          class="elementor-element elementor-element-4de0bb6f elementor-widget elementor-widget-heading"
          data-id="4de0bb6f"
          data-element_type="widget"
          data-widget_type="heading.default"
        >
          <div class="elementor-widget-container">
            <h2 class="elementor-heading-title elementor-size-default">
              <a href="https://www.oodlesretreat.com/book-here/"
                >Let's plan your next getaway...</a
              >
            </h2>
          </div>
        </div>
        <div
          class="elementor-element elementor-element-697a6b6 elementor-hidden-mobile elementor-widget elementor-widget-spacer"
          data-id="697a6b6"
          data-element_type="widget"
          data-widget_type="spacer.default"
        >
          <div class="elementor-widget-container">
            <div class="elementor-spacer">
              <div class="elementor-spacer-inner"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
