{% load wagtailcore_tags wagtailimages_tags %}


<section
  class="elementor-section elementor-top-section elementor-element elementor-element-1b8c8473 elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-invisible"
  data-id="1b8c8473"
  data-element_type="section"
  data-settings='{"animation":"fadeIn"}'
>
  <div class="elementor-container elementor-column-gap-extended">
    {% for entry in page.featured_section_two|slice:'3' %}
    {% if forloop.first %}
    <div
      class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-4ddb16f1"
      data-id="4ddb16f1"
      data-element_type="column"
    >
      <div class="elementor-widget-wrap elementor-element-populated">
        <div
          class="elementor-element elementor-element-74e9aef7 elementor-widget elementor-widget-image"
          data-id="74e9aef7"
          data-element_type="widget"
          data-widget_type="image.default"
        >
          <div class="elementor-widget-container">
            <img
              decoding="async"
              src="{% image entry.value.image original as placeholder %}{{placeholder.url}}"
              title="BlancaBikes-1"
              alt="BlancaBikes-1"
              loading="lazy"
            />
          </div>
        </div>
        <div
          class="elementor-element elementor-element-1cb6ed04 elementor-widget elementor-widget-heading"
          data-id="1cb6ed04"
          data-element_type="widget"
          data-widget_type="heading.default"
        >
          <div class="elementor-widget-container">
            <h2 class="elementor-heading-title elementor-size-default">
              {{entry.value.title|title}}
            </h2>
          </div>
        </div>
        <div
          class="elementor-element elementor-element-4c118903 elementor-widget elementor-widget-text-editor"
          data-id="4c118903"
          data-element_type="widget"
          data-widget_type="text-editor.default"
        >
          <div class="elementor-widget-container">
            <p>
{{entry.value.subheading}}
            </p>
          </div>
        </div>
        <div
          class="elementor-element elementor-element-6d3df42d elementor-align-center elementor-widget elementor-widget-button"
          data-id="6d3df42d"
          data-element_type="widget"
          data-widget_type="button.default"
        >
          <div class="elementor-widget-container">
            <div class="elementor-button-wrapper">
              <a
                class="elementor-button elementor-button-link elementor-size-md"
                href="{% pageurl entry.value.page %}"
              >
                <span class="elementor-button-content-wrapper">
                  <span class="elementor-button-text">READ MORE</span>
                </span>
              </a>
            </div>
          </div>
        </div>
        <div
          class="elementor-element elementor-element-686fe7b2 elementor-widget elementor-widget-spacer"
          data-id="686fe7b2"
          data-element_type="widget"
          data-widget_type="spacer.default"
        >
          <div class="elementor-widget-container">
            <div class="elementor-spacer">
              <div class="elementor-spacer-inner"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% elif forloop.last %}
    <div
      class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-3b5b1e4f"
      data-id="3b5b1e4f"
      data-element_type="column"
    >
      <div class="elementor-widget-wrap elementor-element-populated">
        <div
          class="elementor-element elementor-element-7e4e6e53 elementor-widget elementor-widget-image"
          data-id="7e4e6e53"
          data-element_type="widget"
          data-widget_type="image.default"
        >
          <div class="elementor-widget-container">
            <img
              decoding="async"
              src="{% image entry.value.image original as placeholder %}{{placeholder.url}}"
              title="SliderCorporate"
              alt="SliderCorporate"
              loading="lazy"
            />
          </div>
        </div>
        <div
          class="elementor-element elementor-element-4b91a3b7 elementor-widget elementor-widget-heading"
          data-id="4b91a3b7"
          data-element_type="widget"
          data-widget_type="heading.default"
        >
          <div class="elementor-widget-container">
            <h2 class="elementor-heading-title elementor-size-default">
              {{entry.value.title|title}}
            </h2>
          </div>
        </div>
        <div
          class="elementor-element elementor-element-65c56f78 elementor-widget elementor-widget-text-editor"
          data-id="65c56f78"
          data-element_type="widget"
          data-widget_type="text-editor.default"
        >
          <div class="elementor-widget-container">
            <p>
{{entry.value.subheading}}
            </p>
          </div>
        </div>
        <div
          class="elementor-element elementor-element-1f6b0da9 elementor-align-center elementor-widget elementor-widget-button"
          data-id="1f6b0da9"
          data-element_type="widget"
          data-widget_type="button.default"
        >
          <div class="elementor-widget-container">
            <div class="elementor-button-wrapper">
              <a
                class="elementor-button elementor-button-link elementor-size-md"
                href="{% pageurl entry.value.page %}"
              >
                <span class="elementor-button-content-wrapper">
                  <span class="elementor-button-text">READ MORE</span>
                </span>
              </a>
            </div>
          </div>
        </div>
        <div
          class="elementor-element elementor-element-7802877 elementor-widget elementor-widget-spacer"
          data-id="7802877"
          data-element_type="widget"
          data-widget_type="spacer.default"
        >
          <div class="elementor-widget-container">
            <div class="elementor-spacer">
              <div class="elementor-spacer-inner"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% else %}
    <div
      class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-67826109"
      data-id="67826109"
      data-element_type="column"
    >
      <div class="elementor-widget-wrap elementor-element-populated">
        <div
          class="elementor-element elementor-element-3e68d6e3 elementor-widget elementor-widget-image"
          data-id="3e68d6e3"
          data-element_type="widget"
          data-widget_type="image.default"
        >
          <div class="elementor-widget-container">
            <img
              decoding="async"
              src="{% image entry.value.image original as placeholder %}{{placeholder.url}}"
              title="Golf-2"
              alt="Golf-2"
              loading="lazy"
            />
          </div>
        </div>
        <div
          class="elementor-element elementor-element-62070564 elementor-widget elementor-widget-heading"
          data-id="62070564"
          data-element_type="widget"
          data-widget_type="heading.default"
        >
          <div class="elementor-widget-container">
            <h2 class="elementor-heading-title elementor-size-default">
              {{entry.value.title|title}}
            </h2>
          </div>
        </div>
        <div
          class="elementor-element elementor-element-11bd638e elementor-widget elementor-widget-text-editor"
          data-id="11bd638e"
          data-element_type="widget"
          data-widget_type="text-editor.default"
        >
          <div class="elementor-widget-container">
            <p>
{{entry.value.subheading}}
            </p>
          </div>
        </div>
        <div
          class="elementor-element elementor-element-2dabd4a7 elementor-align-center elementor-widget elementor-widget-button"
          data-id="2dabd4a7"
          data-element_type="widget"
          data-widget_type="button.default"
        >
          <div class="elementor-widget-container">
            <div class="elementor-button-wrapper">
              <a
                class="elementor-button elementor-button-link elementor-size-md"
                href="{% pageurl entry.value.page %}"
              >
                <span class="elementor-button-content-wrapper">
                  <span class="elementor-button-text">READ MORE</span>
                </span>
              </a>
            </div>
          </div>
        </div>
        <div
          class="elementor-element elementor-element-2a10474f elementor-widget elementor-widget-spacer"
          data-id="2a10474f"
          data-element_type="widget"
          data-widget_type="spacer.default"
        >
          <div class="elementor-widget-container">
            <div class="elementor-spacer">
              <div class="elementor-spacer-inner"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</section>