{% load wagtailcore_tags wagtailimages_tags %}
<section
  class="elementor-section elementor-top-section elementor-element elementor-element-1811a77a elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-invisible"
  data-id="1811a77a"
  data-element_type="section"
  data-settings='{"animation":"fadeIn"}'
>
  <div class="elementor-container elementor-column-gap-extended">
    {% for entry in page.services.all %}
    <div
      class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-456ba29d"
      data-id="456ba29d"
      data-element_type="column"
    >
      <div class="elementor-widget-wrap elementor-element-populated">
        <div
          class="elementor-element elementor-element-77785155 elementor-widget elementor-widget-image"
          data-id="77785155"
          data-element_type="widget"
          data-widget_type="image.default"
        >
          <div class="elementor-widget-container">
            <img
              decoding="async"
              src="{% image entry.image fill-1024x500-c100 as placeholder %}{{placeholder.url}}"
              title="{{entry.name}}"
              alt="{{entry.name}}"
              loading="lazy"
            />
          </div>
        </div>
        <div
          class="elementor-element elementor-element-682cbf3d elementor-widget elementor-widget-heading"
          data-id="682cbf3d"
          data-element_type="widget"
          data-widget_type="heading.default"
        >
          <div class="elementor-widget-container">
            <h2 class="elementor-heading-title elementor-size-default">
              {{entry.name}}
            </h2>
          </div>
        </div>
        <div
          class="elementor-element elementor-element-32d0fc5f elementor-widget elementor-widget-text-editor"
          data-id="32d0fc5f"
          data-element_type="widget"
          data-widget_type="text-editor.default"
        >
          <div class="elementor-widget-container">
            <p>{{entry.text}}</p>
          </div>
        </div>
        <div
          class="elementor-element elementor-element-788afe69 elementor-align-center elementor-widget elementor-widget-button"
          data-id="788afe69"
          data-element_type="widget"
          data-widget_type="button.default"
        >
          <div class="elementor-widget-container">
            <div class="elementor-button-wrapper">
              <a
                class="elementor-button elementor-button-link elementor-size-sm"
                href="{% if entry.services_section_cta_link %}{% pageurl entry.cta_link %}{% endif %}"
              >
                <span class="elementor-button-content-wrapper">
                  <span class="elementor-button-text"
                    >{{entry.cta_text}}</span
                  >
                </span>
              </a>
            </div>
          </div>
        </div>
        <div
          class="elementor-element elementor-element-704994f7 elementor-widget elementor-widget-spacer"
          data-id="704994f7"
          data-element_type="widget"
          data-widget_type="spacer.default"
        >
          <div class="elementor-widget-container">
            <div class="elementor-spacer">
              <div class="elementor-spacer-inner"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
{% comment %} 
    <div
      class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-30280a93"
      data-id="30280a93"
      data-element_type="column"
    >
      <div class="elementor-widget-wrap elementor-element-populated">
        <div
          class="elementor-element elementor-element-71109923 elementor-widget elementor-widget-image"
          data-id="71109923"
          data-element_type="widget"
          data-widget_type="image.default"
        >
          <div class="elementor-widget-container">
            <img
              decoding="async"
              src="https://www.oodlesretreat.com/wp-content/uploads/elementor/thumbs/Untitled-design-copy-2-pdeg4btdmqhbgx3vkttn1otle260tgyjowbu6kvmig.jpg"
              title="Untitled design copy 2"
              alt="Untitled design copy 2"
              loading="lazy"
            />
          </div>
        </div>
        <div
          class="elementor-element elementor-element-221735f2 elementor-widget elementor-widget-heading"
          data-id="221735f2"
          data-element_type="widget"
          data-widget_type="heading.default"
        >
          <div class="elementor-widget-container">
            <h2 class="elementor-heading-title elementor-size-default">
              Treatments &amp; Therapies
            </h2>
          </div>
        </div>
        <div
          class="elementor-element elementor-element-1b4b526b elementor-widget elementor-widget-text-editor"
          data-id="1b4b526b"
          data-element_type="widget"
          data-widget_type="text-editor.default"
        >
          <div class="elementor-widget-container">
            <p>
              A journey to complete relaxation, an oasis of calm, a place where
              you can re-balance your body, mind and soul. Designed to bring
              balance and equilibrium.
            </p>
          </div>
        </div>
        <div
          class="elementor-element elementor-element-78f77a61 elementor-align-center elementor-widget elementor-widget-button"
          data-id="78f77a61"
          data-element_type="widget"
          data-widget_type="button.default"
        >
          <div class="elementor-widget-container">
            <div class="elementor-button-wrapper">
              <a
                class="elementor-button elementor-button-link elementor-size-sm"
                href="https://www.oodlesretreat.com/treatments/"
              >
                <span class="elementor-button-content-wrapper">
                  <span class="elementor-button-text">READ MORE</span>
                </span>
              </a>
            </div>
          </div>
        </div>
        <div
          class="elementor-element elementor-element-2f2e3a4e elementor-widget elementor-widget-spacer"
          data-id="2f2e3a4e"
          data-element_type="widget"
          data-widget_type="spacer.default"
        >
          <div class="elementor-widget-container">
            <div class="elementor-spacer">
              <div class="elementor-spacer-inner"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="elementor-column elementor-col-33 elementor-top-column elementor-element elementor-element-31d18aae"
      data-id="31d18aae"
      data-element_type="column"
    >
      <div class="elementor-widget-wrap elementor-element-populated">
        <div
          class="elementor-element elementor-element-46d393c7 elementor-widget elementor-widget-image"
          data-id="46d393c7"
          data-element_type="widget"
          data-widget_type="image.default"
        >
          <div class="elementor-widget-container">
            <img
              decoding="async"
              src="https://www.oodlesretreat.com/wp-content/uploads/elementor/thumbs/IMG_20190913_133942_374-px4hw4wlb1i0tqolv4rbmx0ahm5bo2oudv4q0xv5q0.jpg"
              title="IMG_20190913_133942_374"
              alt="IMG_20190913_133942_374"
              loading="lazy"
            />
          </div>
        </div>
        <div
          class="elementor-element elementor-element-31f4c925 elementor-widget elementor-widget-heading"
          data-id="31f4c925"
          data-element_type="widget"
          data-widget_type="heading.default"
        >
          <div class="elementor-widget-container">
            <h2 class="elementor-heading-title elementor-size-default">
              Activities &amp; Places of Interest
            </h2>
          </div>
        </div>
        <div
          class="elementor-element elementor-element-7bed2dd1 elementor-widget elementor-widget-text-editor"
          data-id="7bed2dd1"
          data-element_type="widget"
          data-widget_type="text-editor.default"
        >
          <div class="elementor-widget-container">
            <p>
              The retreat offers a wide range of on-site facilities and
              activities, and there are abundant local opportunities to enhance
              your retreat programs.
            </p>
          </div>
        </div>
        <div
          class="elementor-element elementor-element-659a90af elementor-align-center elementor-widget elementor-widget-button"
          data-id="659a90af"
          data-element_type="widget"
          data-widget_type="button.default"
        >
          <div class="elementor-widget-container">
            <div class="elementor-button-wrapper">
              <a
                class="elementor-button elementor-button-link elementor-size-sm"
                href="https://www.oodlesretreat.com/activities/"
              >
                <span class="elementor-button-content-wrapper">
                  <span class="elementor-button-text">GET INSPIRED</span>
                </span>
              </a>
            </div>
          </div>
        </div>
        <div
          class="elementor-element elementor-element-2181c762 elementor-widget elementor-widget-spacer"
          data-id="2181c762"
          data-element_type="widget"
          data-widget_type="spacer.default"
        >
          <div class="elementor-widget-container">
            <div class="elementor-spacer">
              <div class="elementor-spacer-inner"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
 {% endcomment %}
  </div>
</section>
