{% load wagtailcore_tags wagtailimages_tags %}
<section
  class="elementor-section elementor-top-section elementor-element elementor-element-33434dec elementor-section-full_width elementor-section-height-min-height elementor-section-items-stretch elementor-section-content-middle elementor-section-height-default elementor-invisible"
  data-id="33434dec"
  data-element_type="section"
  data-settings='{"background_background":"classic","animation":"fadeIn"}'
>
  <div class="elementor-container elementor-column-gap-no">
    <div
      class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-532b4e8"
      data-id="532b4e8"
      data-element_type="column"
    >
      <div class="elementor-widget-wrap">
        <img src="{% image page.classic_room.image original as photo %}{{photo.url}}" width="100%" alt="">
      </div>
    </div>
    <div
      class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-1629b99e"
      data-id="1629b99e"
      data-element_type="column"
      data-settings='{"background_background":"classic"}'
    >
      <div class="elementor-widget-wrap elementor-element-populated">
        <div
          class="elementor-element elementor-element-15bc3c97 elementor-widget elementor-widget-heading"
          data-id="15bc3c97"
          data-element_type="widget"
          data-widget_type="heading.default"
        >
          <div class="elementor-widget-container">
            <h2 class="elementor-heading-title elementor-size-default">
              {{page.classic_room.name|title}}
            </h2>
          </div>
        </div>
        <div
          class="elementor-element elementor-element-4a171df1 elementor-widget-divider--view-line elementor-widget elementor-widget-divider"
          data-id="4a171df1"
          data-element_type="widget"
          data-widget_type="divider.default"
        >
          <div class="elementor-widget-container">
            <div class="elementor-divider">
              <span class="elementor-divider-separator"> </span>
            </div>
          </div>
        </div>
        <div
          class="elementor-element elementor-element-14d52a8a elementor-widget elementor-widget-text-editor"
          data-id="14d52a8a"
          data-element_type="widget"
          data-widget_type="text-editor.default"
        >
          <div class="elementor-widget-container">
            <div>
              <div>
                <div>
                  <div>
                    {{page.classic_room.description|richtext}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
