{% extends "wagtailadmin/base.html" %}
{% load wagtailadmin_tags wagtailcore_tags i18n %}


{% block extra_css %}
<style>
.logo {
    font-size: 30px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}
  
.logo a {
color: #fff;
}

</style>  
{% endblock %}


{% block branding_logo %}

{% with logo=settings.base.SiteSettings.logo %}
<h1 class="logo">

    <a>
      {% if logo %}
      {{logo}}
      {% else %}
      Villarosa
      {% endif %}
    </a>
</h1>
{% endwith %}
{% endblock %}

