{% extends "base.html" %} {% load static %} {% block body_class%}
template-homepage{% endblock %} {% comment %} {% block extra_css %}
<link rel="stylesheet" href="{% static 'css/welcome_page.css' %}" />
{% endblock extra_css %} {% endcomment %} 
{% block content %}


  <div id="section-body" class="home page-template-default page page-id-3908 compare-property-active elementor-default elementor-template-full-width elementor-kit-3548 elementor-page elementor-page-3908">
    {% if slide.carousel %}
    {% include 'sections/top-banner.html' %}
    {% endif %}
    <div
      id="has_social_account"
      style="display: none"
      data-has-social-account
    ></div>
    <div
      data-elementor-type="wp-page"
      data-elementor-id="3908"
      class="elementor elementor-3908"
      data-elementor-post-type="page"
    >
      
      <!-- Section heading -->
       {% include 'sections/section-title.html' %}
       <!-- End -->

       <!-- Three column one -->
        {% include 'sections/three-column-one.html' %}

        <!-- Three column two -->
        {% include 'sections/three-column-two.html' %}


        <!-- Text inside a colored container -->
      {% include 'sections/text-colored-container.html' %}

      <!-- Section has text on right and image on left -->
      {% include 'sections/two-column.html' %}

      <!-- Centered, title and two column underneath  -->
      {% include 'sections/small-centered-row.html' %}

      <!-- Another title section. This time no text underneath -->
       {% include 'sections/title-section-two.html' %}

       <!-- Three column section. The cta buttons are not thick as the former ones -->
        {% include 'sections/three-column-three.html' %}

        <!-- A thck horizontal dividing line -->
      {% include 'sections/thick-divider.html' %}

      <!-- Displays icons with text underneath. These are links -->
       {% comment %} {% include 'sections/icon-links.html' %} {% endcomment %}

      <!-- Appears just underneath the icons links. It has well styled text -->
       {% include 'sections/styled-text.html' %}

      <!-- Appears underneath the styled text section. Its a spacer -->
       {% include 'sections/spacer.html' %}

        
      <!-- This secction includes various links that appear in the footer -->
       {% include 'sections/nav-bottom.html' %}
    </div>
  </div>

{% endblock content %}
